
@model SnowBoardReview.Models.Review
@{
    Layout = "_Layout";
}
@using SnowBoardReview.Controllers;



<p>@Model.ProductDescription</p>
<p>@Model.UserReview</p>

<img src="@Model.ProductImage" alt="board1" />
<p><a href="~/Home/Index">Product Catalog</a></p>

