@model SnowBoardReview.Models.Review
@{
    Layout = null;
}
@using SnowBoardReview.Controllers;


<!DOCTYPE html>

<html>
<head>
    :
    <meta name="viewport" content="width=device-width" />
    <title>Reviews</title>
</head>
<body>
    <h1>HI</h1>
    
    @Model.ReviewID
    @Model.ProductName
    @Model.ProductDescription
    @Model.UserReview


</body>
</html>
