
@model SnowBoardReview.Models.Review
@{
    Layout = "_Layout";
}
@using SnowBoardReview.Controllers;



<p><h2>@Model.ProductDescription</h2></p>
<box><p>@Model.UserReview</p></box>

<img src="@Model.ProductImage" alt="board1" />
<p><a href="~/Home/Index">Product Catalog</a></p>

