@model IEnumerable<SnowBoardReview.Models.Review>
@{
    Layout = null;
}
@using SnowBoardReview.Controllers;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
      @foreach (var review in Model)
      {
       <p>Product name: @review.ProductName</p>
      <p>product description: @review.ProductDescription</p>
      <p>Category Name: @review.CategoryName</p>
      <hr />
      }
</body>
</html>
