<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet'>
    <link href="~/CSS/_layoutStyle.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<header>
        <nav>
            <ul>
                <a href="/snowboardbrand/Index"><li class="navbutton">Home</li></a>
                <a href="/snowboardbrand/Index"><li class="navbutton">Brands</li></a>
                <a href="/snowboard/Index"><li class="navbutton">Snowboards</li></a>
                <a href="/Review/AllReviews"><li class="navbutton">Reviews</li></a>
            </ul>
        </nav>
    <body>
</header>
@RenderBody()
</body>
<footer>
    <i>A Team-X Production &copy;2019</i>
</footer>
</html>