@model IEnumerable<SnowBoardReview.Models.Snowboard>

@{
    ViewData["Title"] = "Brand";
    Layout = "_layout";
}
@using SnowBoardReview.Controllers;


@*<h2>@Model.Snowboard[0].</h2>*@

@foreach (var snowboard in Model)
{
    <a href="/review/Index/@snowboard.ID"><img src="@snowboard.ProductImage" alt="Product Images" /></a>
    <p>@snowboard.ModelName</p>
    <p>@snowboard.ModelDescription</p>
    <p><a href="/review/create/@snowboard.ID" class="w3-button w3-black">Create Review</a></p>
}





