@model IEnumerable<SnowBoardReview.Models.Snowboard>

@{
    ViewData["Title"] = "Brand";
    Layout = "_layout";
}
@using SnowBoardReview.Controllers;


@*<h2>@Model.Snowboard[0].</h2>*@

@foreach (var snowboard in Model)
{
    <a href="/review/Index/@snowboard.ID" class="snowboards">
        <boardview>
            <div>
                <img src="@snowboard.ProductImage" width=65% alt="Product Images" />
                <p>@snowboard.ModelName</p>
            </div>
            <p>@snowboard.ModelDescription</p>
        </boardview>
    </a>
            <a href="/review/Create/@snowboard.ID" class="snowboardscreate">Create Review</a>

}





