@model IEnumerable<SnowBoardReview.Models.Review>
@{
    Layout = "_layout";
}
@using SnowBoardReview.Controllers;

<h2>Reviews</h2>

@foreach (var review in Model)
{

    <p>@review.UserReview</p>


    <a href="/review/Delete/@review.ReviewID" class="w3-button w3-black">Delete Review</a>

}
   