@model IEnumerable<SnowBoardReview.Models.SnowboardBrand>
@{
    Layout = "_layout";
}
@using SnowBoardReview.Controllers;

<h1>Team X Board Shack</h1>

<brandmain>
    <section id="brands">
        @foreach (var brand in Model)
        {
            <a href="/snowboard/Brand/@brand.ID"><img src="@brand.BrandImage" width=13% alt="Brand Images" /></a>
        }
    </section>
</brandmain>
