@model IEnumerable<SnowBoardReview.Models.SnowboardBrand>
@{
    Layout = "_layout";
}
@using SnowBoardReview.Controllers;

@foreach (var brand in Model)
{

<a href="/brand/details/@brand.ID"><img src="@brand.BrandImage" alt="Brand Images" /></a>
<p>@brand.Brand</p>
    
}

